// Reset & Global Styles
global {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

// Body Styles
body {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 21, 21);
  background-repeat: no-repeat;
  background-size: cover;
}

// Login Form Container
.form_container {
  width: 400px;
  max-width: 655px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

// Form Title
.form_container__title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

// Social Login Options
.login_option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.option {
  width: calc(50% - 12px);
}

.option a {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #f8f8fb;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  margin: 34px 0 24px 0;
  text-decoration: none;
  color: #171645;
  font-weight: 500;
  transition: 0.2s ease;
}

.option a:hover {
  background: #ededf5;
}

.option a img {
  max-width: 25px;
}

// Form Fields
label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

input {
  width: 100%;
  height: 57px;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  outline: none;
  background: #f8f8fb;
  font-size: 14px;
  padding: 0px 20px;
  margin-bottom: 25px;
  transition: 0.2s ease;
}

input:focus {
  border-color: #626cd6;
}

// Password & Forgot Password
.password_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

// Buttons
button {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #626cd6;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 28px;
  transition: 0.3s ease;
}

button:hover {
  background: #4954d0;
}

// Sign-up Link
.sign_up {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  // color: #626cd6;
  font-weight: 500;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}
